canvas {
  border: 1px solid black;
}

#controls {
  width: 1024px;
}

#controls select {
  width: 256px;
}

#controls .ui-selectmenu-button {
  vertical-align: middle;
}

#speedSlider {
  display: inline-block;
  width: 128px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}

#speedContainer {
  white-space: nowrap;
}

#infoDialog {
  display: none;
}

.mdi {
  font-size: 24px;
}

.ui-dialog-titlebar-close:focus {
  outline: none;
}