canvas {
  border: 1px solid black;
}

#controls {
  width: 1024px;
}

#controls select {
  width: 256px;
}

#controls .ui-selectmenu-button {
  vertical-align: middle;
}

.button-set {
  white-space: nowrap;
}

.mdi {
  font-size: 24px;
}

.ui-dialog-titlebar-close:focus {
  outline: none;
}

.default-hidden {
  display: none;
}

.button-set .speed-state-active {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  font-weight: normal;
  color: #212121;
}